@model IEnumerable<Player>

   @Html.ActionLink("See Team","Index","Team")<br>
  @Html.ActionLink("Add","Create")
    <table class='table'>
        <thead> Players List</thead>
        <th>@Html.DisplayNameFor(m=>m.Id)</th>
         <th>@Html.DisplayNameFor(m=>m.TeamId)</th>
        <th>@Html.DisplayNameFor(m=>m.Age)</th>
        <th>@Html.DisplayNameFor(m=>m.BiddingAmount)</th>
        <th>@Html.DisplayNameFor(m=>m.Name)</th>
         
          <th>@Html.DisplayNameFor(m=>m.Category)</th>
        <th></th>

        <tbody>
            @foreach(var data in Model)
            {
            <tr>
             <td>@data.Id</td>
             <td>@data.TeamId</td>
             
             <td>@data.Age</td>
             
             <td>@data.BiddingAmount</td>
             <td>@data.Name</td>
             <td>@data.Category</td>
             <td>@Html.ActionLink("Edit","Edit",new{id=@data.Id})</td>
              <td>@Html.ActionLink("Delete","Delete",new{id=@data.Id})</td>
            
            </tr>
            }
        </tbody>
    </table>